@import './../../_variables'
.intro
	text-align: center
	display: grid
	gap: 10px

	.primary-title
		font-weight: 600
		font-family: $secondary-font
		margin-bottom: 1.5rem
	.secondary-title
		font-family: $secondary-font
		font-weight: 400
