.header

	.container
		display: flex
		align-items: center
		justify-content: space-between
	.logo
		width: 100px
		height: 100px
		display: block
		img
			object-fit: contain
	.logoWrapper
		display: flex
		align-items: center

	.logo-text
		display: grid
		gap: 10px
