header.header
	.container
		.logoWrapper
			a.logo.link
				+picture('img/icons/logo', 'png', 'сельское хозяйство', '100', '100')
				.logo-text
					p БытРемонт
					p Ремонт
					p Бытовой Техники
		include navigation.pug
