header.header
	.logoWrapper
		a.logo
			+picture('img/icons/logo', 'png', 'сельское хозяйство', '100', '100')
		.logo-text
			p БытРемонт
			p Ремонт
				br
				| Бытовой Техники
	include navigation.pug
