header.header.no-js
	.container
		.logoWrapper
			a.logo.link
				+svg('0 0 50 50', '80', '80', 'logo', 'white')
				.logo-text
					p БытРемонт
					p Ремонт
					p Бытовой Техники
		include navigation.pug
