input(type="checkbox" id="navi-toggle" class="checkbox")
label(for="navi-toggle" class="button")
	span(class="icon")
div(class="background")
nav.navigation
	button#btn-menu.button-menu(type="button")
		span.visually-hidden Закрыть кнопку
	.navigation__wrapper
		ul.navigation__list
			li.navigation__list-item
				a.navigation__list-link.base-text.link(href="#aboutUs") О нас
			li.navigation__list-item
				a.navigation__list-link.base-text.link(href="#service") Услуги
			li.navigation__list-item
				a.navigation__list-link.base-text.link(href="#stepsWorking") Этапы работы
			li.navigation__list-item
				a.navigation__list-link.base-text.link(href="#contacts") Контакты
			li.navigation__list-item
				.infoWrapper
					p.base-text.timeTo Прием заявок с 9.00 до 21.00
					a.base-text.link(href=`${telephone}`)= telephoneText
