.count
	.secondary-title
		margin-bottom: 2rem
.counter
	display: flex
	justify-content: center
	gap: 1rem

	span
		font-size: 1.5rem

	span:first-of-type
		font-size: 2rem
		font-weight: 600
	span:last-of-type
		margin-left: 0.5rem
