section#aboutServices.section.aboutServices-section
	.container
		h2.secondary-title О наших услугах
		.aboutServices-section__wrapper
			ul.aboutServices-section__list
				li
					+svg('0 0 80 80','80','80','repair1', 'blue')
					p.base-text Мы обслуживаем и ремонтируем Бытовую Технику любой сложности;
				li
					+svg('0 0 80 80','80','80','repair2', 'blue')
					p.base-text Также занимаемся обслуживанием стиральных машин, ремонтом холодильников; установкой и обслуживанием, и ремонто посудомоечных машин;
				li
					+svg('0 0 80 80','80','80','repair3', 'blue')
					p.base-text Мы мобильны и можем приехать прямо к вам на адрес!
						br
						strong  Наш выезд в пределах г.Пскова и Диагностика бесплатная.
				li
					+svg('0 0 80 80','80','80','repair4', 'blue')
					p.base-text Ремонт от мелкой до крупной бытовой техники прямо у Вас дома.
				li
					+svg('0 0 80 80','80','80','repair5', 'blue')
					p.base-text В редких случаях, мы отвозим вашу технику на нашу базу для более основательного и качественного ремонта.
				li
					+svg('0 0 80 80','80','80','repair6', 'blue')
					p.base-text Гарантия год на все виды наших работ. Подберём удобную для Вас дату и время для выезда.
				li
					+svg('0 0 80 80','80','80','repair7', 'blue')
					p.base-text Гарантийные договора с печатями и подписями — основа нашей работы —
						strong работаем официально;


