section.section.count#count
	.container
		h2.secondary-title Оставьте заявку сейчас и получите дополнительно 5% скидки
		.counter
			.days
				span
				span дней
			.hours
				span
				span часов
			.minutes
				span
				span минут
			.seconds
				span
				span секунд
