section.section.count#count
	.count__wrapper
		h2.secondary-title Оставьте заявку сейчас и
			br
			|получите дополнительно 5% скидки
	.container
		+picture('img/content/person/plumber-with-thumb-up', 'jpg', 'сельское хозяйство', '200', '200')
		.counter
			.days
				span
				span дней
			.hours
				span
				span часов
			.minutes
				span
				span минут
			.seconds
				span
				span секунд
