section.section.faq
	.container
		h2.secondary-title Вопросы-ответы
		ul.faq__list
			li
				.faq__wrap
					a.base-text Сколько стоят ваши услуги?
					+svg('0 0 55 55','40','40','aprove','blue')
				p.base-text.faq__answer Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			li
				.faq__wrap
					a.base-text Почему именно такие цены?
					+svg('0 0 55 55','40','40','aprove','blue')
				p.base-text.faq__answer Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			li
				.faq__wrap
					a.base-text На какой срок вы даёте гарантии?
					+svg('0 0 55 55','40','40','aprove','blue')
				p.base-text.faq__answer Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			li
				.faq__wrap
					a.base-text Что будет если  вы сломаете мою технику?
					+svg('0 0 55 55','40','40','aprove','blue')
				p.base-text.faq__answer Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			li
				.faq__wrap
					a.base-text  Как долго длится ремонт?
					+svg('0 0 55 55','40','40','aprove','blue')
				p.base-text.faq__answer Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			li
				.faq__wrap
					a.base-text Кто ремонтирует?
					+svg('0 0 55 55','40','40','aprove','blue')
				p.base-text.faq__answer Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			li
				.faq__wrap
					a.base-text Вы частники, или компания?
					+svg('0 0 55 55','40','40','aprove','blue')
				p.base-text.faq__answer Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

