.help
	.social-button
		a(title="Telegram", href="https://t.me/BotFather")
			+svg('0 0 50 50', '50', '50', 'telegram', '#00109B')

	.btn-up
		a(href="#")
			+svg('0 0 50 50', '50', '50', 'up-arrow', '#00109B')
