section.intro.section
	.container
		h2.secondary-title При повторном возникновении неисправности, ремонт и обслуживание Вашей Бытовой Техники бесплатно!
		p.base-text
			span.bold 100% гарантия
			|	на все виды наших работ.
		p.base-text Выезд и диагностика Бытовой Техники — бесплатно.
