section.intro
	h1 Ремонт бытовой техники в Пскове и Псковской области
	h2 При повторном возникновении неисправности,
		p ремонт и обслуживание Вашей Бытовой Техники бесплатно!
	p
		span.bold 100% гарантия
		|	на все виды наших работ.
	p Выезд и диагностика Бытовой Техники — бесплатно.
