.swiper.swiper-main
	.swiper-wrapper.no-view
		.swiper-slide
			+picture('img/content/sliderMain/slide-1', 'jpg', 'сельское хозяйство')
			.swiper-main__block
				h2 При повторном возникновении неисправности,
					p ремонт и обслуживание Вашей Бытовой Техники бесплатно!
				p 100% гарантия на все виды наших работ.
				p Выезд и диагностика Бытовой Техники — бесплатно.
				ul.swiper-main__list
					li Принимаем заказы круглосуточно
					li Выезд и диагностика бесплатно
					li Гарантия до 1 года на все виды работ
					li Скидка пенсионерам и участникам ВОВ
					li Работа по договору, все официально
			.swiper-lazy-preloader
		.swiper-slide
			+picture('img/content/sliderMain/slide-2', 'jpg', 'сельское хозяйство')
			.swiper-main__block
				h2 Ремонт бытовой техники в Пскове и Псковской области
				p Мы ремонтируем:
				ul.swiper-main__list
					li посудомоечные машины
					li холодильники
					li стиральные машины
					li телевизоры
					li кофемашины
			.swiper-lazy-preloader
		.swiper-slide
			+picture('img/content/sliderMain/slide-3', 'jpg', 'сельское хозяйство')
			.swiper-main__block.lastblock
				h2 Заголовок
				p Подзаголовок
			.swiper-lazy-preloader
	.swiper-pagination
		//- .swiper-button-prev
		//- .swiper-button-next
		//- .swiper-scrollbar
