section.section.main-slider-section
	.container
		h1.visually-hidden Ремонт бытовой техники в Пскове и Псковской области
		p.base-text.timeTo Прием заявок с 9.00 до 21.00
			br
			a.base-text.link(href=`${telephone}`)= telephoneText
		p.primary-title
		h2.visually-hidden Качественный и недорогой ремонт бытовой техники с гаранитией от 1 месяца до 1 года
		.swiper.swiper-main
			.swiper-wrapper.no-view
				.swiper-slide
					+picture('img/content/sliderMain/slide-1', 'jpg', 'сельское хозяйство', '320', '500')
					.swiper-main__block
						include ../modules/form
						.block
							ul.swiper-main__list
								li Принимаем заказы круглосуточно
								li Гарантия до 1 года на все виды работ
								li Работа по договору, все официально
							a.swiper-main__link.link(href="#form") Оставить Заявку
					.swiper-lazy-preloader
				.swiper-slide
					+picture('img/content/sliderMain/slide-2', 'jpg', 'сельское хозяйство', '320', '500')
					.swiper-main__block
						p.third-title Мы ремонтируем:
						ul.swiper-main__list.list
							li
								+svg('0 0 50 50','50','50','dishwasher')
								span
									|	посудомоечные машины
							li
								+svg('0 0 50 50','50','50','fridge')
								span
									|	холодильники
							li
								+svg('0 0 50 50','50','50','washing-machine')
								span
									|	стиральные машины
							li
								+svg('0 0 50 50','50','50','coffee-machine')
								span
									|	кофемашины
							li
								+svg('0 0 50 50','50','50','tv')
								span
									|	телевизоры
						a.swiper-main__link.link(href="#form") Оставить Заявку
					.swiper-lazy-preloader
				.swiper-slide.lastslide
					+picture('img/content/sliderMain/slide-3', 'jpg', 'сельское хозяйство', '320', '500')
					.swiper-main__block.lastblock
						h2.secondary-title  Пенсионерам скидка
						p.secondary-title.cost 15%
						p.secondary-title  на все услуги
						a.swiper-main__link.link(href="#form") Оставить Заявку
					.swiper-lazy-preloader
			.swiper-pagination
