section.section.services#service
	.container
		h2.title.secondary-title Наши услуги
		ul.services__list.list
			li.services__item
				+svg('0 0 80 80','80','80','dishwasher', 'blue')
				.inner-service
					span посудомоечные машины
					span.services__cost 	2000 Р
			li.services__item
				+svg('0 0 80 80','80','80','fridge','blue')
				.inner-service
					span холодильники
					span.services__cost 	2000 Р
			li.services__item
				+svg('0 0 80 80','80','80','washing-machine','blue')
				.inner-service
					span стиральные машины
					span.services__cost 	2000 Р
			li.services__item
				+svg('0 0 80 80','80','80','coffee-machine','blue')
				.inner-service
					span кофемашины
					span.services__cost 	2000 Р
			li.services__item
				+svg('0 0 80 80','80','80','tv','blue')
				.inner-service
					span телевизоры
					span.services__cost 	2000 Р
