section.section.services#service
	h2.title.secondary-title Наши услуги
	ul.services__list
		li.services__item Услуга 1
		li.services__item Услуга 1
		li.services__item Услуга 1
		li.services__item Услуга 1
	+picture('img/content/person/plumber-with-thumb-up', 'jpg', 'сельское хозяйство', '200', '200')
