extends pug/layout/main.pug

block variables
	- let nameCss = "css/styles.min.css";
	- let nameScript = "js/script.min.js";
	- let nameScriptVendors = "js/vendors.min.js";
	- let titleName = "БытРемонт";
	- let title = "Главная";
	- let telephone = "tel:+79260000000";
	- let telephoneText = "+7 (926) 000-00-00";

block mixins
	include pug/mixins/mixin.pug

block something
	style(type='text/css').
		.placeholder {
			background-size: cover;
			background-repeat: no-repeat;
			min-width: 100%;
			height: inherit;
			min-height: inherit;
			background-position: center;
		}
	script(type='text/javascript').
		function imgLoaded(img){
			let image = img;
			let parent = image.parentNode;
			parent.parentNode.classList.add('loaded');
			if(parent.parentNode.classList.contains('loaded')){
				parent.parentNode.classList.remove('placeholder');
				parent.parentNode.setAttribute('style', '')
			}
		};
block header
	include pug/common/header.pug
block main
	include pug/sections/mainslider.pug
	include pug/sections/intro.pug
	include pug/sections/services.pug
	include pug/sections/count.pug
	//- include pug/sections/news.pug
	include pug/sections/about.pug
	//- include pug/sections/teachers.pug
	//- include pug/sections/reviews.pug
	include pug/sections/form.pug
	include pug/sections/contacts.pug
block footer
	include pug/common/footer.pug
	include pug/sections/help.pug
